body{
    /* background-color: #282c34; */
	font-family: sans-serif;
	margin: 0;
	/* font-style: italic; */
	
}

#main_nav{
    /* background: #bdc3c7; */
	border-radius: 0px 0px 17px 17px;
}

#event-nav{
    background: rgb(174, 209, 255);
    /* color: black */
    display: block;
    /* border: 1px solid #555; */
}

/* .input[text]{
	width: 40px
} */



/* FOR HOME PAGE SLIDESHOW */
.slide-container {
	width: 70%;
	margin: auto; 
}
.each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 500px;
}
.each-slide span {
	padding: 20px;
	font-size: 20px;
	/* background: #efefef; */
	text-align: center;
}
