body{
    /* background-color: #282c34; */
    font-family: sans-serif;
    /* font-style: italic; */
}

#main_nav{
    /* background: rgb(161, 173, 238); */
    border-radius: 0px 0px 17px 17px;
    

}

#event-nav{
    /* background: rgb(47, 126, 230); */
    /* color: black */
    display: block;
    /* border: 1px solid #555; */



}
